.content-container {
    width: 72%;
    min-height: 10px;
    float: left;
}

.content {
    text-align: left;
    margin: 0 0 3% 0;
}

.button-container {
    margin: 0 0 3% 0;
    float: right;
}

.button {
    float: right;
    margin-left: 20px;
}